In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import urllib.request as urllib2
import tarfile
import os.path
import requests
from os import path
from bs4 import BeautifulSoup
import time

In [5]:
!pwd

/home/jovyan/work/python

In [6]:
rt = urllib2.urlopen("https://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz")
csvzip = tarfile.open(fileobj=rt,mode='r:gz')
csvzip.extractall()

In [9]:
pos=os.listdir('aclImdb/train/pos') # List: Positive ratings of movies 
neg=os.listdir('aclImdb/train/neg') # List: Positive ratings of movies
rating = {'title': pos+neg} # dic: Positive ratings, following negative ratings
df=pd.DataFrame(data=rating) # pd.df: Dataframe of dic "rating"
regex=r'(\d+)_(\d{1,2})\.txt' # We group the info we want to extract of the string in the first column
df[['title','rating']]=df['title'].str.extract(pat=regex,expand=True) # We extract the title and rating of the original title column
print(f'rows={df.shape[0]}\ncolumns={df.shape[1]}') # We check the size
df.head() # We get a preview

rows=25000
columns=2

   title rating
0   6118     10
1   1824      8
2    821     10
3   7919     10
4  10829     10

In [10]:
def cpm(path): # content per line of a text file
    with open(path, 'r', encoding='utf-8') as file:
        content = file.read() 
        lines = content.splitlines()  # List: content per line
        return lines

In [11]:
pos_url=cpm('aclImdb/train/urls_pos.txt') # List: Movie url of positive review
neg_url=cpm('aclImdb/train/urls_neg.txt') # List: Movie url of negative review
pn_url={'url': pos_url+neg_url} # dic: Positive urls, following by negative urls
df_url=pd.DataFrame(data=pn_url) # pd.df: Dataframe of dic "pn_url"
regex=r'\S+(\d{7})\/\S+'  #'(tt\d+)' # We group the info we want to extract of the string in the first column
df_url=df_url['url'].str.extract(pat=regex,expand=True) # We extract the title and rating of the original title column
print(f'rows={df_url.shape[0]}\ncolumns={df_url.shape[1]}') # We check the size
df_url.head() # We get a preview

rows=25000
columns=1

         0
0  0453418
1  0453418
2  0453418
3  0064354
4  0064354

In [19]:
df_txt.head() # We get a preview

          title
0   6118_10.txt
1    1824_8.txt
2    821_10.txt
3   7919_10.txt
4  10829_10.txt

In [18]:
rating = {'title': pos+neg} # dic: Positive ratings, following negative ratings
df_txt=pd.DataFrame(data=rating) # pd.df: Dataframe of dic "rating"
regex=r'(\d+)_(\d{1,2})\.txt' # We group the info we want to extract of the string in the first column

In [20]:
regex='tt(\d+)'
id=df_txt[0].str.split(pat=regex,expand=True)[1] # id

KeyError: 0

In [21]:
def title(url):
    # Definir encabezados para la solicitud
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.63 Safari/537.36",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-US,en;q=0.9",
        "Connection": "keep-alive",
        "Upgrade-Insecure-Requests": "1"
    }
    
    # Obtener el contenido de la página web
    webpage = requests.get(url, headers=headers)
    
    # Revisar si la solicitud fue exitosa
    if webpage.status_code == 200:
        soup = BeautifulSoup(webpage.content, "html.parser")
        # Extraer el título de la película
        title_tag = soup.find("h1")
        movie_title = title_tag.get_text(strip=True) if title_tag else "Título no encontrado"
    return movie_title

In [22]:
url = "http://www.imdb.com/title/tt0453418"
title=title(url)
print(title)

# Delay between requests (in seconds)
delay = 3  # 3-second delay between requests
time.sleep(delay)

NameError: name 'titulo' is not defined

In [ ]:
# Delay between requests (in seconds)
    #if j==2:
    #    break
#delay = 1  # 3-second delay between requests
#tt.head()# lista de id
tt2=[]
for i in range(0,3):
    tt2=title(df_tt2[i])
    tt.append(a)
    if i==2:
        break
    #time.sleep(delay)

In [ ]:
d = {'id': id[0:3], 'title': tt2}

df = pd.DataFrame(data=d)

df